.bk{
    background-color: rgb(169, 167, 189)
}
#tab{
    border:2px rgb(45, 15, 180) ;
        
      }
     #r{
        margin: 25px 50px 75px 500px;
     }
         #t{
            text-align: center;
         } 